questasim/rtl/*
!questasim/rtl/*.sv
!questasim/rtl/*.v
!questasim/rtl/*.vhd

questasim/tb/*
!questasim/tb/*.sv
!questasim/tb/*.v
!questasim/tb/*vhd

questasim/work/
questasim/work/*

questasim/wlft*

questasim/*.wlf
questasim/*.mti
questasim/*.mpf
questasim/*.opt
questasim/*.ini

questasim/*.log
questasim/*.bak
questasim/*.swp


